.pageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 130px;
    margin-bottom: 80px;
}

.productDescriptionContainer {
    width: 400px;
    font-size: 20px;
    justify-content: center;
    display: grid;

}

.name {
    font-size: 22px;
    font-weight: 600;
    padding-top: 40px;
}

.addToCartBtn{
    background-color: #05386b;
    border-radius: 0;
    border: none;
    margin-bottom: 20px;
    color: #edf5e1;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.price {
    font-size: 20px;
    /* font-weight: 500; */
}

.productImageContainer {
    max-width: 30%;
    min-width: 400px;
}

/* .product__image {
    max-width: 70%;
    min-width: 400px;
} */

.productImageCarousel {
    width: 100%;
    position: relative;
    width: 100%;
    /* max-width: 400px; */
}

.productImageCarousel > img {
    width: 16.666666666%;
    /* display: table; */
    /* width: 6vw; */
    /* height: 40px; */
}

.loadingDiv {
    padding-top: 85px;
}

@media only screen and (max-width: 1140px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .productDescriptionContainer {
        margin-left: 20px;
 
    }
    
    .productImage {
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 900px) {
    .pageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .productImageContainer {
        margin-left: auto;
        margin-right: auto;
        /* width: 60%; */
        min-width: 300px;
        max-width: 450px;
    }

    .productImage {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .productDescriptionContainer {
        margin-left: auto;
        margin-right: auto; 
        /* padding-right: 20px;  */
        width: 90%;
    }

    .addToCartBtn{
        height: 52px;
        margin-top: 20px;
    }

    .productImageCarousel {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        padding-top: 3px;
        font-size: 8px;
        
    }

    .circles {
        color: rgba(5, 56, 107, 50%);
    }
    
}

@media only screen and (max-width: 430px) {
    .pageContainer {
        margin-top: 100px;
    }
}