.loading {
    margin-top: 80px; 
    /* padding-top: 100px; */
    /* padding-top: 1.9em; */

    margin-left: 40px;
    height: 47vh;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    font-size: 50px;

    animation: spin infinite 3s linear;

    /*You can increase or decrease the timer (5s) to 
        increase or decrease the speed of the spinner*/
}



    
@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}