@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    
}

body {
    background-color: #edf5e1;
}

:root {
	--mainColor: #05386b;
	--mainColorLight: #edf5e1;
	--secondaryColor: #5cdb95;
	--textColor: #05386b;
}

/* navbar */

.navBarUL {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

.navBarUL > li {
    margin-left: 40px;
    font-size: 14px;
    padding-top: 16px;
}

a:visited {
    text-decoration: none;
    color: #05386b;

}

a:link {
    text-decoration: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    background-color: #edf5e1;
    height: 85px;
    text-align: center;
    align-items: center;
	padding: 0 2rem;
    color: #05386b;
}

.navBarUL > li {
    display: inline-block;
    position: relative;
    color: #05386b;
}

.navBarUL > li::after {
    content: '';
    position: absolute;
    width: 110%;
    transform: scaleX(0);
    height: 2px;
    bottom: -26px;
    left: 0;
    background-color: #05386b;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.navBarUL > li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav_logoContainer {
    display: flex;
    flex-direction: row;
}

.nav_title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

.nav_search {
    margin-left: auto;
    margin-right: 1em;
    font-size: 22px;
}

.nav_cart {
    font-size: 22px;

}

.nav-dropdown-btn {
    border: none;
    outline: none;
    background-color: transparent;
    display: none;

}

.nav_logo {
    font-size: 27px;
    margin-top: 16px;
    margin-right: 4px;
}

/* navbar mobile */

@media only screen and (max-width: 1024px) {
	.nav-dropdown-btn {
        display: block;
		opacity: 1;
        position: absolute;
		top: 2rem;
		left: 2rem;
	}

    .navBarUL {
        display: none;
    }    

    .nav_logoContainer {
        align-self: center;
        align-content: center;
    }

	/* .navBar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		transition: 1s;
		transform: translateY(-100vh);
	}

	.navBar {
		transform: none;
	} */




}

/* home */

.greenDog {
    width: 100%;
    height: auto;
}

