@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Quicksand', sans-serif;
    color: #05386b;
    
}

body {
    background-color: #edf5e1;
}

:root {
	--fontColor: #05386b;
	--backgroundColor: #edf5e1;
	--secondaryColor: #5cdb95;
}

/* navbar */

.navBarUL {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}

.navBarUL > li {
    margin-left: 40px;
    font-size: 14px;
    padding-top: 16px;
}

a:visited {
    text-decoration: none;
    color: var(--fontColor);

}

a:link {
    text-decoration: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundColor);
    height: 85px;
    text-align: center;
    align-items: center;
	padding: 0 2rem;
    color: var(--fontColor);
}

.navBarUL > li {
    display: inline-block;
    position: relative;
    color: var(--fontColor);
}

.navBarUL > li::after {
    content: '';
    position: absolute;
    width: 110%;
    transform: scaleX(0);
    height: 2px;
    bottom: -26px;
    left: 0;
    background-color: var(--fontColor);
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.navBarUL > li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav_logoContainer {
    display: flex;
    flex-direction: row;
}

.nav_title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;

}

.nav_search {
    margin-left: auto;
    margin-right: 1em;
    font-size: 22px;
}

.nav_cart {
    font-size: 22px;

}

.nav-dropdown-btn {
    border: none;
    outline: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
    z-index: 5;
}

.nav_logo {
    font-size: 27px;
    margin-top: 16px;
    margin-right: 4px;
}

.sideNavBar {
    display: none;
}


/* navbar mobile */

@media only screen and (max-width: 1024px) {
	.nav-dropdown-btn {
        display: block;
        margin-right: auto;
		font-size: 18px;
	}

    .navBarUL {
        display: none;
    }    

  

	.navBar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
	}

    .sideNavBar {
        display: block;
        flex-direction: column;
        background-color: #edf5e1;
        z-index: 9000;
        position: fixed;
        /* inset: 0 max(10px, 30%) 0 0; */
        inset: 0 30% 0 0;
        width: 400px;
        padding: 40px;
        /* height: 110% */
        /* background-color: teal; */
        
    }

    .nav-close-btn {
       
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--fontColor);
        font-size: 25px;
        cursor: pointer;
    }

    .mainSideNavUL {
        margin-top: 2em;
        list-style-type: none;

    }

    .secondSideNavUL {
        list-style-type: none;
        padding-top: 3vh;

    }

    .mainSideNavUL > li{
        padding-bottom: 2vh;
        padding-top: 2vh;
        border-bottom: 1px solid var(--fontColor);
    }

    .secondSideNavUL > li {
        padding-bottom: 2vh;
        padding-top: 2vh;
        color: rgb(5, 56, 107, 80%);
    }

    .secondSideNavUL > li:hover {
        color: var(--fontColor);
    }

    .greenDog {
        width: 100%;
    }

}

/* .sideNavBarClosed {
    display: none;
} */



/* overlay */
.overlay {
    display: none;
}

.overlay-active {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; 
    transition: 0.5s;
    cursor: pointer;
}

/* home */

.greenOutline {
    background-color: #009E50;
}

.greenDog {
    width: auto;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #009E50;
}

/* sortbar */

.sortBar {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    /* border-color: rgba(5, 56, 107, 80%); */
    /* border-top: 1px solid rgba(5, 56, 107, 25%); */
    border-bottom: 1px solid rgba(5, 56, 107, 25%);
    
}

.gridContainers {
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgba(5, 56, 107, 25%);
    align-items: center;
}

.smallGrid {
    padding-left: 1em;
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-size: 18px;
}

.bigGrid {
    padding-left: 1em;
    padding-right: 1.2em;
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
    font-size: 18px;
}

/* .fi-sr-grid {
    color: rgba(5, 56, 107, 50%);
} */

.sort, .filter {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    border-left: 1px solid rgba(5, 56, 107, 25%);
}

.sort {
    margin-left: auto;
}


/* page title */
.pageTitle {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(5, 56, 107, 25%);
    border-bottom: 1px solid rgba(5, 56, 107, 25%);
    font-size: 32px;
    padding-top: 1.9em;
    padding-bottom: 1.9em;
}

/* product card */

.product__card {
    width: 350px;
    height: auto;
    background-color: green;
}

.product__card-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: purple;
}

.product__image {
    max-width:100%;
}

